.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;

  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  margin: -1px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @include respondTo('semiditonus') {
    max-width: 413px;
  }

  @include respondTo('ditonus') {
    width: 414px;
  }

  @include respondTo('diapente') {
    width: 1024px;
    padding: 0 47px;
  }

  @include respondTo('diapason') {
    width: 1280px;
    padding: 0 85px;
  }
}

.item-scroll {
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

.body-scroll {
  overflow-y: auto;
  // scroll-snap-align: y mandatory;
}
