%marginPaddingReset {
  margin: 0;
  padding: 0;
}

%list {
  @extend %marginPaddingReset;
  list-style: none;
}

%icon {
  fill: currentColor;
  display: block;
}

%link {
  text-decoration: none;
  color: inherit;
  display: block;
}

