<section class="amenities section-booking lines">
  <div class="container">
    <!-- Блок опису -->
    <article class="amenities__description">
      <h2 class="amenities-title">Зручності у номері</h2>
      <!-- Анімований текст -->
      <div class="amenities__item _anim-elements _anim-nohide">
        <p class="text text--room amenities__specification animation" lang="en">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <!-- Перший блок -->
      <div class="amenities__article">
        <h3 class="bookingroom-title amenities__subtitle">Загальні</h3>
        <div class="grid-amenities">
          <!-- Анімований текст -->
          <div
            class="amenities__item amenities__margin _anim-elements _anim-nohide"
          >
            <p class="text text--room animation" lang="en">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
          </div>
          <!-- Анімований текст -->
          <div class="amenities__item _anim-elements _anim-nohide">
            <p class="text text--room animation" lang="en">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
          </div>
        </div>
      </div>
      <!-- Другий блок -->
      <div class="amenities__article">
        <h3 class="bookingroom-title amenities__subtitle">Ванна кімната</h3>
        <div class="grid-amenities">
          <!-- Анімований текст -->
          <div
            class="amenities__item amenities__margin _anim-elements _anim-nohide"
          >
            <p class="text text--room animation" lang="en">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
          </div>
          <!-- Анімований текст -->
          <div class="amenities__item _anim-elements _anim-nohide">
            <p class="text text--room animation" lang="en">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
          </div>
        </div>
      </div>
      <!-- Третій блок -->
      <div class="amenities__article">
        <h3 class="bookingroom-title amenities__subtitle">Спальня</h3>
        <!-- Анімований текст -->
        <div class="amenities__item _anim-elements _anim-nohide">
          <p class="text text--room animation" lang="en">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
        </div>
      </div>
      <!-- Четвертий блок -->
      <div class="amenities__article">
        <h3 class="bookingroom-title amenities__subtitle">Кухня</h3>
        <div class="grid-amenities">
          <!-- Анімований текст -->
          <div
            class="amenities__item amenities__margin _anim-elements _anim-nohide"
          >
            <p class="text text--room animation" lang="en">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint.
            </p>
          </div>
          <!-- Анімований текст -->
          <div class="amenities__item _anim-elements _anim-nohide">
            <p class="text text--room animation" lang="en">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint.
            </p>
          </div>
        </div>
      </div>
      <!-- П'ятий блок -->
      <div class="amenities__article">
        <h3 class="bookingroom-title amenities__subtitle">Медіа</h3>
        <!-- Анімований текст -->
        <div class="amenities__item _anim-elements _anim-nohide">
          <p class="text text--room animation" lang="en">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit.
          </p>
        </div>
      </div>
    </article>
    <!-- Кнопка оформлення броні -->
    <button class="button-reserve amenities__button" type="button">
      Оформити бронювання
    </button>
    <!-- Посилання на попередню сторінку -->
    <a class="amenities__return" href="./hotel.html">
      Повернутися до перегляду номерів
      <svg class="amenities__icon" width="24" height="24">
        <use href="./images/icons.svg#icon-arrow-right"></use>
      </svg>
    </a>
  </div>
</section>
