<section class="contacts section lines">
  <div class="container contacts-wrapper">
    <div class="grid-item">
      <h2 class="visually-hidden">Контакти</h2>
      <p class="logo logo--nolink logo--nolink-grey contacts__logo">MIMIHO</p>
      <p class="subtitle contacts__subtitle">Ресторанно-готельний комплекс</p>
      <!-- Блок навігації без активних посилань на інші сторінки -->
      <ul class="navigation contacts__list">
        <li class="navigation__item contacts__item">
          <div class="grid-contacts">
            <p class="navigation__department contacts__department">Ресторан</p>
            <!-- Перша обгортка номеру телефону -->
            <div class="navigation__wrap contacts__box contacts__box--first">
              <a
                class="navigation__contact contacts__contact"
                href="tel:+380955559533"
              >
                <svg
                  class="navigation__icon contacts__icon"
                  width="24"
                  height="24"
                >
                  <use href="./images/icons.svg#icon-phone"></use>
                </svg>
                <span class="navigation__number contacts__number"
                  >095 555 95 33</span
                >
              </a>
            </div>
          </div>
        </li>
        <li class="navigation__item contacts__item">
          <div class="grid-contacts">
            <p class="navigation__department contacts__department">Готель</p>
            <!-- Друга обгортка номерів телефонів -->
            <div class="navigation__wrap contacts__box">
              <a
                class="navigation__contact contacts__contact contacts__contact--vodafone"
                href="tel:+380668491089"
              >
                <svg
                  class="navigation__icon contacts__icon"
                  width="24"
                  height="24"
                >
                  <use href="./images/icons.svg#icon-phone"></use>
                </svg>
                <span class="navigation__number contacts__number"
                  >066 849 10 89</span
                >
              </a>
              <a
                class="navigation__contact contacts__contact contacts__contact--kyivstar"
                href="tel:+380672758540"
              >
                <span class="navigation__number contacts__number"
                  >067 275 85 40</span
                >
              </a>
            </div>
          </div>
        </li>
        <li class="navigation__item contacts__item">
          <div class="grid-contacts">
            <div></div>
            <!-- Блок локації з адресою -->
            <div class="location contacts__address">
              <a
                class="location__link contacts__link"
                href="https://www.google.com/maps/place/%D0%93%D0%BE%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D0%BE-%D1%80%D0%B5%D1%81%D1%82%D0%BE%D1%80%D0%B0%D0%BD%D0%BD%D0%B8%D0%B9+%D0%BA%D0%BE%D0%BC%D0%BF%D0%BB%D0%B5%D0%BA%D1%81+%22%D0%9C%D1%96%D0%BC%D1%96%D0%BD%D0%BE%22/@49.5992605,34.5259946,15z/data=!4m5!3m4!1s0x0:0xbb948724f7cf0b61!8m2!3d49.5993482!4d34.525994"
              >
                <svg
                  class="location__point contacts__point"
                  width="24"
                  height="24"
                >
                  <use href="./images/icons.svg#icon-location"></use>
                </svg>
                Україна, м. Полтава, <br class="contacts__gap" />
                вул. Маршала Бірюзова, 15
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <!-- Google-мапа -->
    <iframe
      class="contacts__map"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d18778.85051753445!2d34.5381000979462!3d49.58888405764706!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d825e5a6576a0d%3A0xcdfded8b7b40ec91!2z0J_QvtC70YLQsNCy0LAsINCf0L7Qu9GC0LDQstGB0YzQutCwINC-0LHQu9Cw0YHRgtGMLCAzNjAwMA!5e1!3m2!1suk!2sua!4v1670094364128!5m2!1suk!2sua"
      width="634"
      height="412"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</section>
