<footer class="footer lines-footer">
  <div class="container">
    <div class="grid-footer">
      <!-- Блок лого -->
      <div class="footer__logo-wrap">
        <a href="./index.html" class="logo logo--footer">Mimiho</a>
      </div>
      <!-- Блок навігації -->
      <ul class="navigation footer__nav">
        <li class="navigation__item footer__nav-item">
          <a
            class="navigation__department"
            title="Головна сторінка"
            href="./index.html"
            >Головна</a
          >
        </li>
        <li class="navigation__item footer__nav-item">
          <a
            class="navigation__department"
            title="Ресторан"
            href="./restaurant.html"
            >Ресторан</a
          >
        </li>
        <li class="navigation__item footer__nav-item">
          <a class="navigation__department" title="Готель" href="./hotel.html"
            >Готель</a
          >
        </li>
      </ul>
      <!-- Блок соцмереж -->
      <ul class="socials footer__socials">
        <li class="socials__item">
          <a
            class="socials__link footer__socials-link"
            href="https://www.instagram.com/"
            target="_blank"
            rel="noreferrer noopener nofollow"
          >
            <p class="socials__text">Instagram</p>
            <svg class="socials__icon" width="24px" height="24px">
              <use href="./images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a
            class="socials__link footer__socials-link"
            href="https://www.facebook.com/"
            target="_blank"
            rel="noreferrer noopener nofollow"
          >
            <p class="socials__text">Facebook</p>
            <svg class="socials__icon" width="24px" height="24px">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a
            class="socials__link footer__socials-link"
            href="https://web.telegram.org/"
            target="_blank"
            rel="noreferrer noopener nofollow"
          >
            <p class="socials__text">Telegram</p>
            <svg class="socials__icon" width="24px" height="24px">
              <use href="./images/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
