<header class="header">
  <div class="container" id="home">
    <nav class="header__navigation">
      <!-- Блок лого -->
      <a title="Головна" href="./index.html" class="logo logo--header"
        >MIMIHO</a
      >
      <!-- Блок навігації -->
      <ul class="navigation header__navigation-list">
        <li class="navigation__item header__navigation-item">
          <a
            class="navigation__department header__department"
            title="Ресторан"
            href="./restaurant.html"
            >Ресторан
          </a>
          <div class="navigation__wrap header__navigation-wrap">
            <a
              title="Натисніть, щоб зателефонувати до ресторану"
              href="tel:+38095 555 95 33"
              class="navigation__contact"
              ><svg
                class="navigation__icon header__navigation-icon"
                width="24"
                height="24"
              >
                <use href="./images/icons.svg#icon-phone"></use>
              </svg>
              <span class="navigation__number header__navigation-number"
                >095 555 95 33</span
              >
            </a>
          </div>
        </li>
        <li class="navigation__item header__navigation-item">
          <a
            title="Готель"
            href="./hotel.html"
            class="navigation__department header__department"
            >Готель
          </a>
          <div class="navigation__wrap header__navigation-wrap">
            <a
              title="Натисніть, щоб зателефонувати до готелю"
              href="tel:+38066 849 10 89"
              class="navigation__contact"
              ><svg
                class="navigation__icon header__navigation-icon"
                width="24"
                height="24"
              >
                <use href="./images/icons.svg#icon-phone"></use>
              </svg>
              <span class="navigation__number header__navigation-number"
                >066 849 10 89</span
              >
            </a>
            <a href="tel:+38067 275 85 40" class="navigation__contact"
              ><span class="navigation__number header__navigation-number"
                >067 275 85 40</span
              >
            </a>
          </div>
        </li>
      </ul>
      <!-- Блок соцмереж -->
      <ul class="socials socials--header">
        <li>
          <a
            class="socials__link"
            href="https://www.instagram.com/"
            target="_blank"
            rel="noreferrer noopener nofollow"
            aria-label="Our Instagram"
          >
            <svg class="socials__icon" width="24" height="24">
              <use href="./images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="socials__link"
            href="https://www.facebook.com/"
            target="_blank"
            rel="noreferrer noopener nofollow"
            aria-label="Our Facebook"
          >
            <svg class="socials__icon" width="24" height="24">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="socials__link"
            href="https://www.telegram.com/"
            target="_blank"
            rel="noreferrer noopener nofollow"
            aria-label="Our Telegram"
          >
            <svg class="socials__icon" width="24" height="24">
              <use href="./images/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
