<section class="home-hero section-hero">
  <div class="container">
    <h1 class="home-hero__title main-title">MIMIHO</h1>
    <h2 class="subtitle subtitle--hero">Ресторанно-готельний комплекс</h2>
    <p class="main-tagline main-tagline--white">Смак життя 24&sol;7</p>
    <div class="hero-footer">
      <!-- Блок локації з адресою -->
      <div class="location">
        <a
          class="location__link"
          rel="noreferrer nofollow noopener"
          target="_blank"
          href="https://www.google.com/maps/place/%D0%93%D0%BE%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D0%BE-%D1%80%D0%B5%D1%81%D1%82%D0%BE%D1%80%D0%B0%D0%BD%D0%BD%D0%B8%D0%B9+%D0%BA%D0%BE%D0%BC%D0%BF%D0%BB%D0%B5%D0%BA%D1%81+%22%D0%9C%D1%96%D0%BC%D1%96%D0%BD%D0%BE%22/@49.5992605,34.5259946,15z/data=!4m5!3m4!1s0x0:0xbb948724f7cf0b61!8m2!3d49.5993482!4d34.525994"
        >
          <svg class="location__point" width="20" height="20">
            <use href="./images/icons.svg#icon-location"></use>
          </svg>
          Україна, м. Полтава, <br />
          вул. Маршала Бірюзова, 15
        </a>
      </div>
      <!-- Кнопки виклику модалок -->
      <ul class="hero-buttons">
        <li class="hero-buttons__item">
          <button
            type="button"
            data-popup="popup3"
            class="activity-button activity-button--transparent popup-link"
          >
            Забронювати столик
          </button>
        </li>
        <li class="hero-buttons__item">
          <button
            type="button"
            data-popup="popup1"
            class="activity-button activity-button--smaller popup-link"
          >
            Забронювати номер
          </button>
        </li>
      </ul>
    </div>
    <!-- Блок соцмереж -->
    <ul class="socials socials--hero">
      <li>
        <a
          class="socials__link"
          href="https://www.instagram.com/"
          rel="noreferrer nofollow noopener"
        >
          <svg class="socials__icon" width="24" height="24">
            <use href="./images/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          class="socials__link"
          href="https://www.facebook.com/"
          rel="noreferrer nofollow noopener"
        >
          <svg class="socials__icon" width="24" height="24">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          class="socials__link"
          href="https://web.telegram.org/"
          rel="noreferrer nofollow noopener"
        >
          <svg class="socials__icon" width="24" height="24">
            <use href="./images/icons.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
