<section class="hotel-hero section-hero">
  <div class="container">
    <h1 class="hotel-hero__title main-title" lang="en">Mimiho</h1>
    <h2 class="hotel-hero__subtitle subtitle">Готель</h2>
    <div class="hero-footer">
      <!-- Блок локації з адресою -->
      <div class="location">
        <a
          class="location__link"
          href="https://goo.gl/maps/zX9kuocd2LKTX8j67"
          rel="noreferrer nofollow noopener"
          target="_blank"
        >
          <svg class="location__point" width="20" height="20">
            <use href="./images/icons.svg#icon-location"></use>
          </svg>
          Україна, м. Полтава, <br />
          вул. Маршала Бірюзова, 15</a
        >
      </div>
      <!-- Кнопки виклику модалок -->
      <ul class="hero-buttons">
        <li class="hero-buttons__item">
          <button
            type="button"
            data-popup="popup1"
            class="activity-button activity-button--transparent popup-link"
          >
            Забронювати номер
          </button>
        </li>
        <li class="hero-buttons__item">
          <button
            type="button"
            data-popup="popup2"
            class="activity-button activity-button--smaller popup-link"
          >
            Переглянути ціни
          </button>
        </li>
      </ul>
    </div>
    <!-- Блок соцмереж -->
    <ul class="socials socials--hero">
      <li>
        <a
          class="socials__link"
          href="https://www.instagram.com/"
          rel="noreferrer nofollow noopener"
        >
          <svg class="socials__icon" width="24" height="24">
            <use href="./images/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          class="socials__link"
          href="https://www.facebook.com/"
          rel="noreferrer nofollow noopener"
        >
          <svg class="socials__icon" width="24" height="24">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          class="socials__link"
          href="https://web.telegram.org/"
          rel="noreferrer nofollow noopener"
        >
          <svg class="socials__icon" width="24" height="24">
            <use href="./images/icons.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
