<section
  class="hotel-details section section-details item-scroll"
  data-slider="details"
>
  <div class="container section__container">
    <!-- Обгортка текстового контенту -->
    <div class="details-contentbox details-contentbox--right">
      <p class="logo logo--nolink logo--nolink-white hotel-details__logo">
        MIMIHO
      </p>
      <h2 class="details-title hotel-details__title">Готель</h2>
      <!-- Анімований текст -->
      <div class="animated-text _anim-elements _anim-nohide">
        <p class="text text--main text--details text--details-right animation">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
      </div>
    </div>
    <!-- Свайпер -->
    <div class="interactive interactive--details interactive--left">
      <div class="swiper-container swiper-container--interactive">
        <div class="swiper-details swiper-details--left" dir="rtl">
          <ul class="swiper-wrapper">
            <li class="swiper-slide">
              <picture>
                <source
                  media="(max-width: 1023px)"
                  srcset="
                    ./images/swiper/home/hotel-details/mobile/slider-1-mob.webp    1x,
                    ./images/swiper/home/hotel-details/mobile/slider-1-mob@2x.webp 2x,
                    ./images/swiper/home/hotel-details/mobile/slider-1-mob@3x.webp 3x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/swiper/home/hotel-details/desktop/slider-1-desk.webp    1x,
                    ./images/swiper/home/hotel-details/desktop/slider-1-desk@2x.webp 2x,
                    ./images/swiper/home/hotel-details/desktop/slider-1-desk@3x.webp 3x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ./images/swiper/home/hotel-details/tablet/slider-1-tab.webp    1x,
                    ./images/swiper/home/hotel-details/tablet/slider-1-tab@2x.webp 2x,
                    ./images/swiper/home/hotel-details/tablet/slider-1-tab@3x.webp 3x
                  "
                  type="image/webp"
                />
                <source
                  media="(max-width: 1023px)"
                  srcset="
                    ./images/swiper/home/hotel-details/mobile/slider-1-mob.jpg    1x,
                    ./images/swiper/home/hotel-details/mobile/slider-1-mob@2x.jpg 2x,
                    ./images/swiper/home/hotel-details/mobile/slider-1-mob@3x.jpg 3x
                  "
                />
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/swiper/home/hotel-details/desktop/slider-1-desk.jpg    1x,
                    ./images/swiper/home/hotel-details/desktop/slider-1-desk@2x.jpg 2x,
                    ./images/swiper/home/hotel-details/desktop/slider-1-desk@3x.jpg 3x
                  "
                />
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ./images/swiper/home/hotel-details/tablet/slider-1-tab.jpg    1x,
                    ./images/swiper/home/hotel-details/tablet/slider-1-tab@2x.jpg 2x,
                    ./images/swiper/home/hotel-details/tablet/slider-1-tab@3x.jpg 3x
                  "
                />
                <img
                  class="swiper-slide__image"
                  src="./images/swiper/home/hotel-details/desktop/slider-1-desk.jpg"
                  alt="Інтер'єр номеру-люкс із двуспальним ліжком"
                />
              </picture>
            </li>
            <li class="swiper-slide">
              <picture>
                <source
                  media="(max-width: 1023px)"
                  srcset="
                    ./images/swiper/home/hotel-details/mobile/slider-2-mob.webp    1x,
                    ./images/swiper/home/hotel-details/mobile/slider-2-mob@2x.webp 2x,
                    ./images/swiper/home/hotel-details/mobile/slider-2-mob@3x.webp 3x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/swiper/home/hotel-details/desktop/slider-2-desk.webp    1x,
                    ./images/swiper/home/hotel-details/desktop/slider-2-desk@2x.webp 2x,
                    ./images/swiper/home/hotel-details/desktop/slider-2-desk@3x.webp 3x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ./images/swiper/home/hotel-details/tablet/slider-2-tab.webp    1x,
                    ./images/swiper/home/hotel-details/tablet/slider-2-tab@2x.webp 2x,
                    ./images/swiper/home/hotel-details/tablet/slider-2-tab@3x.webp 3x
                  "
                  type="image/webp"
                />
                <source
                  media="(max-width: 1023px)"
                  srcset="
                    ./images/swiper/home/hotel-details/mobile/slider-2-mob.jpg    1x,
                    ./images/swiper/home/hotel-details/mobile/slider-2-mob@2x.jpg 2x,
                    ./images/swiper/home/hotel-details/mobile/slider-2-mob@3x.jpg 3x
                  "
                />
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/swiper/home/hotel-details/desktop/slider-2-desk.jpg    1x,
                    ./images/swiper/home/hotel-details/desktop/slider-2-desk@2x.jpg 2x,
                    ./images/swiper/home/hotel-details/desktop/slider-2-desk@3x.jpg 3x
                  "
                />
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ./images/swiper/home/hotel-details/tablet/slider-2-tab.jpg    1x,
                    ./images/swiper/home/hotel-details/tablet/slider-2-tab@2x.jpg 2x,
                    ./images/swiper/home/hotel-details/tablet/slider-2-tab@3x.jpg 3x
                  "
                />
                <img
                  class="swiper-slide__image"
                  src="./images/swiper/home/hotel-details/desktop/slider-2-desk.jpg"
                  alt="Тарілка з яєшнею, стакан апельсинового соку та прибори на столі"
                />
              </picture>
            </li>
            <li class="swiper-slide">
              <picture>
                <source
                  media="(max-width: 1023px)"
                  srcset="
                    ./images/swiper/home/hotel-details/mobile/slider-3-mob.webp    1x,
                    ./images/swiper/home/hotel-details/mobile/slider-3-mob@2x.webp 2x,
                    ./images/swiper/home/hotel-details/mobile/slider-3-mob@3x.webp 3x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/swiper/home/hotel-details/desktop/slider-3-desk.webp    1x,
                    ./images/swiper/home/hotel-details/desktop/slider-3-desk@2x.webp 2x,
                    ./images/swiper/home/hotel-details/desktop/slider-3-desk@3x.webp 3x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ./images/swiper/home/hotel-details/tablet/slider-3-tab.webp    1x,
                    ./images/swiper/home/hotel-details/tablet/slider-3-tab@2x.webp 2x,
                    ./images/swiper/home/hotel-details/tablet/slider-3-tab@3x.webp 3x
                  "
                  type="image/webp"
                />
                <source
                  media="(max-width: 1023px)"
                  srcset="
                    ./images/swiper/home/hotel-details/mobile/slider-3-mob.jpg    1x,
                    ./images/swiper/home/hotel-details/mobile/slider-3-mob@2x.jpg 2x,
                    ./images/swiper/home/hotel-details/mobile/slider-3-mob@3x.jpg 3x
                  "
                />
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/swiper/home/hotel-details/desktop/slider-3-desk.jpg    1x,
                    ./images/swiper/home/hotel-details/desktop/slider-3-desk@2x.jpg 2x,
                    ./images/swiper/home/hotel-details/desktop/slider-3-desk@3x.jpg 3x
                  "
                />
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ./images/swiper/home/hotel-details/tablet/slider-3-tab.jpg    1x,
                    ./images/swiper/home/hotel-details/tablet/slider-3-tab@2x.jpg 2x,
                    ./images/swiper/home/hotel-details/tablet/slider-3-tab@3x.jpg 3x
                  "
                />
                <img
                  class="swiper-slide__image"
                  src="./images/swiper/home/hotel-details/desktop/slider-3-desk.jpg"
                  alt="Менеджер та клієнт готелю біля стійки ресепшену"
                />
              </picture>
            </li>
          </ul>
        </div>
        <!-- Кнопки навігації по свайперу -->
        <div
          class="swiper-arrows swiper-arrows--dark swiper-arrows--dark--left"
        >
          <svg
            class="swiper-button-prev swiper-button-prev--white"
            width="32"
            height="32"
          >
            <use href="./images/icons.svg#icon-arrow-left"></use>
          </svg>
          <svg
            class="swiper-button-next swiper-button-prev--white"
            width="32"
            height="32"
          >
            <use href="./images/icons.svg#icon-arrow-right"></use>
          </svg>
        </div>
      </div>
      <!-- Кнопки виклику модалок -->
      <ul class="details-buttonbox">
        <li class="details-buttonbox__item">
          <button
            class="activity-button activity-button--transparent popup-link"
            data-popup="popup1"
            type="button"
          >
            Забронювати номер
          </button>
        </li>
        <li class="details-buttonbox__item">
          <button
            class="activity-button activity-button--transparent popup-link"
            data-popup="popup2"
            type="button"
          >
            Переглянути ціни
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
