<section class="menufood section lines-menu" id="menu">
  <div class="container">
    <h2 class="menufood__title">Mеню ресторану</h2>
    <!-- Меню -->
    <div class="menufood__wrapper">
      <div>
        <!-- Таблиця основних блюд -->
        <table class="menufood__menu">
          <caption class="visually-hidden" lang="en">
            Main dishes
          </caption>
          <thead>
            <tr>
              <th colspan="3" class="menufood__subtitle">Гарячі страви</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row" class="menufood__dish">
                Борщ з телятини з квасолею
              </th>
              <td rowspan="2" class="menufood__weight">400 г</td>
              <td rowspan="2" class="menufood__price">240 грн</td>
            </tr>
            <tr>
              <td class="menufood__text">
                Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
                помідори, зелень, сметана
              </td>
            </tr>
            <tr>
              <th scope="row" class="menufood__dish">Суп сирний з куркою</th>
              <td rowspan="2" class="menufood__weight">400 г</td>
              <td rowspan="2" class="menufood__price">200 грн</td>
            </tr>
            <tr>
              <td class="menufood__text">
                Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень
              </td>
            </tr>
            <tr>
              <th scope="row" class="menufood__dish">Паста карбонара</th>
              <td rowspan="2" class="menufood__weight">350 г</td>
              <td rowspan="2" class="menufood__price">430 грн</td>
            </tr>
            <tr>
              <td class="menufood__text">
                Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень
              </td>
            </tr>
            <tr>
              <th scope="row" class="menufood__dish">Стейк зі свинини</th>
              <td rowspan="2" class="menufood__weight">400 г</td>
              <td rowspan="2" class="menufood__price">500 грн</td>
            </tr>
            <tr>
              <td class="menufood__text">
                Свиняча вирізка, спеціі, подається з соусом солодкий чилі та
                овочами
              </td>
            </tr>
            <tr>
              <th scope="row" class="menufood__dish">
                Горбуша в соусі з білого вина
              </th>
              <td rowspan="2" class="menufood__weight">400 г</td>
              <td rowspan="2" class="menufood__price">400 грн</td>
            </tr>
            <tr>
              <td class="menufood__text">
                Ніжна горбуша, вершковий соус на основі білого вина
              </td>
            </tr>
          </tbody>
        </table>
        <!-- Таблиця других блюд -->
        <table class="menufood__menu menufood__menu--secondtable">
          <caption class="visually-hidden" lang="en">
            Side dishes
          </caption>
          <thead>
            <tr>
              <th colspan="3" class="menufood__subtitle">Гарніри та закуски</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row" class="menufood__dish">Запечені овочі</th>
              <td rowspan="2" class="menufood__weight">200 г</td>
              <td rowspan="2" class="menufood__price">230 грн</td>
            </tr>
            <tr>
              <td class="menufood__text">Кабачок, перець, помідор, баклажан</td>
            </tr>
            <tr>
              <th scope="row" class="menufood__dish">Картопля фрі</th>
              <td rowspan="2" class="menufood__weight">150 г</td>
              <td rowspan="2" class="menufood__price">160 грн</td>
            </tr>
            <tr>
              <td class="menufood__text">Картопля, соус томатний</td>
            </tr>
            <tr>
              <th scope="row" class="menufood__dish">Картопля по-селянськи</th>
              <td rowspan="2" class="menufood__weight">150 г</td>
              <td rowspan="2" class="menufood__price">160 грн</td>
            </tr>
            <tr>
              <td class="menufood__text">Картопля, спеції, соус пікантний</td>
            </tr>
            <tr>
              <th scope="row" class="menufood__dish">Хрумкі соління з бочки</th>
              <td rowspan="2" class="menufood__weight">250 г</td>
              <td rowspan="2" class="menufood__price">350 грн</td>
            </tr>
            <tr>
              <td class="menufood__text">
                Огірок солений, помідор квашений, квашена капуста, морква
                по-корейські
              </td>
            </tr>
            <tr>
              <th scope="row" class="menufood__dish">
                Крильця курячі в медовому соусі
              </th>
              <td rowspan="2" class="menufood__weight">400 г</td>
              <td rowspan="2" class="menufood__price">420 грн</td>
            </tr>
            <tr>
              <td class="menufood__text">
                Крильця курячі, гірчично-медовий соус, подається з морквою,
                селерою і соусом блючиз
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <!-- Таблиця салатів -->
        <table class="menufood__menu">
          <caption class="visually-hidden" lang="en">
            Salads
          </caption>
          <thead>
            <tr>
              <th colspan="3" class="menufood__subtitle">Салати</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row" class="menufood__dish">Цезар з куркою</th>
              <td rowspan="2" class="menufood__weight menufood__weight--salads">
                230 г
              </td>
              <td rowspan="2" class="menufood__price">450 грн</td>
            </tr>
            <tr>
              <td class="menufood__text">
                Куряче філе, листя салату, помідори чері, сир пармезан, грінки,
                соус цезар
              </td>
            </tr>
            <tr>
              <th scope="row" class="menufood__dish">Цезар з креветками</th>
              <td rowspan="2" class="menufood__weight menufood__weight--salads">
                230 г
              </td>
              <td rowspan="2" class="menufood__price">300 грн</td>
            </tr>
            <tr>
              <td class="menufood__text">
                Тигрові креветки, листя салату, помідори чері, сир пармезан,
                грінки, соус цезар
              </td>
            </tr>
            <tr>
              <th scope="row" class="menufood__dish">Грецький салат</th>
              <td rowspan="2" class="menufood__weight menufood__weight--salads">
                230 г
              </td>
              <td rowspan="2" class="menufood__price">280 грн</td>
            </tr>
            <tr>
              <td class="menufood__text">
                Свіжі огірок, помідор, болгарський перець, оливки, сир бринза,
                листя салату, соус
              </td>
            </tr>
            <tr>
              <th scope="row" class="menufood__dish">М’ясний салат</th>
              <td rowspan="2" class="menufood__weight menufood__weight--salads">
                230 г
              </td>
              <td rowspan="2" class="menufood__price">300 грн</td>
            </tr>
            <tr>
              <td class="menufood__text">
                Куряче філе або свиняча вирізка, свіжі огірок, помідор,
                болгарський перець, соус ранч
              </td>
            </tr>
          </tbody>
        </table>
        <!-- Таблиця десертів -->
        <table class="menufood__menu">
          <caption class="visually-hidden" lang="en">
            Dessert
          </caption>
          <thead>
            <tr>
              <th colspan="3" class="menufood__subtitle">Десерти</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row" class="menufood__dish menufood__dish--dessert">
                Торт наполеон
              </th>
              <td class="menufood__weight menufood__weight--dessert">230 г</td>
              <td class="menufood__price">300 грн</td>
            </tr>
            <tr>
              <th scope="row" class="menufood__dish menufood__dish--dessert">
                Торт маковий
              </th>
              <td class="menufood__weight menufood__weight--dessert">230 г</td>
              <td class="menufood__price">300 грн</td>
            </tr>
            <tr>
              <th scope="row" class="menufood__dish menufood__dish--dessert">
                Тірамісу
              </th>
              <td class="menufood__weight menufood__weight--dessert">120 г</td>
              <td class="menufood__price">260 грн</td>
            </tr>
          </tbody>
        </table>
        <!-- Таблиця напоїв -->
        <table class="menufood__menu menufood__menu--lasttable">
          <caption class="visually-hidden" lang="en">
            Drinks
          </caption>
          <thead>
            <tr>
              <th colspan="3" class="menufood__subtitle">Напої</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row" class="menufood__dish menufood__dish--after">
                Чай чорний/зелений
              </th>
              <td class="menufood__weight menufood__weight--after">500 мл</td>
              <td class="menufood__price menufood__price--after">100 грн</td>
            </tr>
            <tr>
              <th scope="row" class="menufood__dish menufood__dish--after">
                Еспресо
              </th>
              <td class="menufood__weight menufood__weight--after">30 мл</td>
              <td class="menufood__price menufood__price--after">100 грн</td>
            </tr>
            <tr>
              <th scope="row" class="menufood__dish menufood__dish--after">
                Американо
              </th>
              <td class="menufood__weight menufood__weight--after">150 мл</td>
              <td class="menufood__price menufood__price--after">100 грн</td>
            </tr>
            <tr>
              <th scope="row" class="menufood__dish menufood__dish--after">
                Капучино
              </th>
              <td class="menufood__weight menufood__weight--after">200 мл</td>
              <td class="menufood__price menufood__price--after">160 грн</td>
            </tr>
            <tr>
              <th scope="row" class="menufood__dish menufood__dish--after">
                Лате
              </th>
              <td class="menufood__weight menufood__weight--after">200 мл</td>
              <td class="menufood__price menufood__price--after">160 грн</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- Кнопка виклику модалок -->
    <button
      class="activity-button activity-button--menu popup-link"
      type="button"
      data-popup="popup3"
    >
      Забронювати столик
    </button>
  </div>
</section>
