<section class="restaurant-hero section-hero">
  <div class="container">
    <h1 class="restaurant-hero__title main-title" lang="en">Mimiho</h1>
    <h2 class="subtitle subtitle--hero">Ресторан</h2>
    <p class="main-tagline main-tagline--white">Смак життя 24&sol;7</p>
    <div class="hero-footer">
      <!-- Блок локації з адресою -->
      <div class="location">
        <a
          class="location__link"
          href="https://goo.gl/maps/5fYRpYfwEm4AJ6J57"
          rel="noreferrer nofollow noopener"
          target="_blank"
        >
          <svg class="location__point" width="20" height="20">
            <use href="./images/icons.svg#icon-location"></use>
          </svg>
          Україна, м. Полтава, <br />
          вул. Маршала Бірюзова, 15</a
        >
      </div>
      <!-- Кнопки виклику модалок -->
      <ul class="hero-buttons">
        <li class="hero-buttons__item">
          <button
            type="button"
            data-popup="popup3"
            class="activity-button activity-button--transparent popup-link"
          >
            Забронювати столик
          </button>
        </li>
        <li class="hero-buttons__item">
          <a
            type="button"
            class="activity-button activity-button--smaller"
            href="./restaurant.html#menu"
          >
            Переглянути меню
          </a>
        </li>
      </ul>
    </div>
    <!-- Блок соцмереж -->
    <ul class="socials socials--hero">
      <li>
        <a class="socials__link" href="https://www.instagram.com/">
          <svg class="socials__icon" width="24" height="24">
            <use href="./images/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="socials__link" href="https://www.facebook.com/">
          <svg class="socials__icon" width="24" height="24">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="socials__link" href="https://web.telegram.org/">
          <svg class="socials__icon" width="24" height="24">
            <use href="./images/icons.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
