<section class="room-triple section-booking lines-dark" data-slider="content">
  <div class="container section__container">
    <p class="tagline tagline--right room-triple__tagline" lang="en">
      Amet minim mollit non
    </p>
    <h3
      class="logo logo--nolink logo--nolink-rooms room-triple__logo"
      lang="en"
    >
      Mimiho
    </h3>
    <div
      class="animated-text animated-text--rooms animated-text--rooms--right _anim-elements _anim-nohide"
    >
      <h2
        class="bookingroom-title bookingroom-title--rooms bookingroom-title--rooms--right animation-right"
      >
        Трьохмісний номер
      </h2>
      <p
        class="text text--main text--rooms text--rooms--right animation-right"
        lang="en"
      >
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <!-- Блок контенту -->
    <div class="imgbox imgbox--rooms-left">
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
            ./images/home/hotel-about/desktop/modern-studio-interior-desk.webp    1x,
            ./images/home/hotel-about/desktop/modern-studio-interior-desk@2x.webp 2x,
            ./images/home/hotel-about/desktop/modern-studio-interior-desk@3x.webp 3x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1024px)"
          srcset="
            ./images/home/hotel-about/tablet/modern-studio-interior-tab.webp    1x,
            ./images/home/hotel-about/tablet/modern-studio-interior-tab@2x.webp 2x,
            ./images/home/hotel-about/tablet/modern-studio-interior-tab@3x.webp 3x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 1023px)"
          srcset="
            ./images/home/hotel-about/mobile/modern-studio-interior-mob.webp    1x,
            ./images/home/hotel-about/mobile/modern-studio-interior-mob@2x.webp 2x,
            ./images/home/hotel-about/mobile/modern-studio-interior-mob@3x.webp 3x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1280px)"
          srcset="
            ./images/home/hotel-about/desktop/modern-studio-interior-desk.jpg    1x,
            ./images/home/hotel-about/desktop/modern-studio-interior-desk@2x.jpg 2x,
            ./images/home/hotel-about/desktop/modern-studio-interior-desk@3x.jpg 3x
          "
        />
        <source
          media="(min-width: 1024px)"
          srcset="
            ./images/home/hotel-about/tablet/modern-studio-interior-tab.jpg    1x,
            ./images/home/hotel-about/tablet/modern-studio-interior-tab@2x.jpg 2x,
            ./images/home/hotel-about/tablet/modern-studio-interior-tab@3x.jpg 3x
          "
        />
        <source
          media="(max-width: 1023px)"
          srcset="
            ./images/home/hotel-about/mobile/modern-studio-interior-mob.jpg    1x,
            ./images/home/hotel-about/mobile/modern-studio-interior-mob@2x.jpg 2x,
            ./images/home/hotel-about/mobile/modern-studio-interior-mob@3x.jpg 3x
          "
        />
        <img
          loading="lazy"
          src="./images/home/hotel-about/desktop/modern-studio-interior-desk.jpg"
          alt="Інтер'єр номеру із двуспальним ліжком та диваном"
        />
      </picture>
    </div>
    <!-- Свайпер -->
    <div class="interactive interactive--rooms interactive--right">
      <div class="swiper-container swiper-container--interactive">
        <div class="swiper-content swiper-content--right">
          <ul class="swiper-wrapper">
            <li class="swiper-slide">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/swiper/hotel/luxe/desktop/slider-1-desk.webp    1x,
                    ./images/swiper/hotel/luxe/desktop/slider-1-desk@2x.webp 2x,
                    ./images/swiper/hotel/luxe/desktop/slider-1-desk@3x.webp 3x
                  "
                  type="image/webp"
                />
                <source
                  media="(max-width: 1023px)"
                  srcset="
                    ./images/swiper/hotel/luxe/mobile/slider-1-mob.webp    1x,
                    ./images/swiper/hotel/luxe/mobile/slider-1-mob@2x.webp 2x,
                    ./images/swiper/hotel/luxe/mobile/slider-1-mob@3x.webp 3x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ./images/swiper/hotel/luxe/tablet/slider-1-tab.webp    1x,
                    ./images/swiper/hotel/luxe/tablet/slider-1-tab@2x.webp 2x,
                    ./images/swiper/hotel/luxe/tablet/slider-1-tab@3x.webp 3x
                  "
                />
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/swiper/hotel/luxe/desktop/slider-1-desk.jpg    1x,
                    ./images/swiper/hotel/luxe/desktop/slider-1-desk@2x.jpg 2x,
                    ./images/swiper/hotel/luxe/desktop/slider-1-desk@3x.jpg 3x
                  "
                />
                <source
                  media="(max-width: 1023px)"
                  srcset="
                    ./images/swiper/hotel/luxe/mobile/slider-1-mob.jpg    1x,
                    ./images/swiper/hotel/luxe/mobile/slider-1-mob@2x.jpg 2x,
                    ./images/swiper/hotel/luxe/mobile/slider-1-mob@3x.jpg 3x
                  "
                />
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ./images/swiper/hotel/luxe/tablet/slider-1-tab.jpg    1x,
                    ./images/swiper/hotel/luxe/tablet/slider-1-tab@2x.jpg 2x,
                    ./images/swiper/hotel/luxe/tablet/slider-1-tab@3x.jpg 3x
                  "
                  type="image/webp"
                />
                <img
                  class="swiper-slide__image swiper-slide__image--content"
                  src="./images/swiper/hotel/luxe/desktop/slider-1-desk.jpg"
                  alt="Чашка кави на підвіконні з видом на зимовий сад"
                />
              </picture>
            </li>
            <li class="swiper-slide">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/swiper/hotel/luxe/desktop/slider-2-desk.webp    1x,
                    ./images/swiper/hotel/luxe/desktop/slider-2-desk@2x.webp 2x,
                    ./images/swiper/hotel/luxe/desktop/slider-2-desk@3x.webp 3x
                  "
                  type="image/webp"
                />
                <source
                  media="(max-width: 1023px)"
                  srcset="
                    ./images/swiper/hotel/luxe/mobile/slider-2-mob.webp    1x,
                    ./images/swiper/hotel/luxe/mobile/slider-2-mob@2x.webp 2x,
                    ./images/swiper/hotel/luxe/mobile/slider-2-mob@3x.webp 3x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ./images/swiper/hotel/luxe/tablet/slider-2-tab.webp    1x,
                    ./images/swiper/hotel/luxe/tablet/slider-2-tab@2x.webp 2x,
                    ./images/swiper/hotel/luxe/tablet/slider-2-tab@3x.webp 3x
                  "
                />
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/swiper/hotel/luxe/desktop/slider-2-desk.jpg    1x,
                    ./images/swiper/hotel/luxe/desktop/slider-2-desk@2x.jpg 2x,
                    ./images/swiper/hotel/luxe/desktop/slider-2-desk@3x.jpg 3x
                  "
                />
                <source
                  media="(max-width: 1023px)"
                  srcset="
                    ./images/swiper/hotel/luxe/mobile/slider-2-mob.jpg    1x,
                    ./images/swiper/hotel/luxe/mobile/slider-2-mob@2x.jpg 2x,
                    ./images/swiper/hotel/luxe/mobile/slider-2-mob@3x.jpg 3x
                  "
                />
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ./images/swiper/hotel/luxe/tablet/slider-2-tab.jpg    1x,
                    ./images/swiper/hotel/luxe/tablet/slider-2-tab@2x.jpg 2x,
                    ./images/swiper/hotel/luxe/tablet/slider-2-tab@3x.jpg 3x
                  "
                  type="image/webp"
                />
                <img
                  class="swiper-slide__image swiper-slide__image--content"
                  src="./images/swiper/hotel/luxe/desktop/slider-2-desk.jpg"
                  alt="Умивальник-шафа з косметикою у вбиральні"
                />
              </picture>
            </li>
            <li class="swiper-slide">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/swiper/hotel/triple-room/desktop/slider-3-desk.webp    1x,
                    ./images/swiper/hotel/triple-room/desktop/slider-3-desk@2x.webp 2x,
                    ./images/swiper/hotel/triple-room/desktop/slider-3-desk@3x.webp 3x
                  "
                  type="image/webp"
                />
                <source
                  media="(max-width: 1023px)"
                  srcset="
                    ./images/swiper/hotel/triple-room/mobile/slider-3-mob.webp    1x,
                    ./images/swiper/hotel/triple-room/mobile/slider-3-mob@2x.webp 2x,
                    ./images/swiper/hotel/triple-room/mobile/slider-3-mob@3x.webp 3x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ./images/swiper/hotel/triple-room/tablet/slider-3-tab.webp    1x,
                    ./images/swiper/hotel/triple-room/tablet/slider-3-tab@2x.webp 2x,
                    ./images/swiper/hotel/triple-room/tablet/slider-3-tab@3x.webp 3x
                  "
                />
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/swiper/hotel/triple-room/desktop/slider-3-desk.jpg    1x,
                    ./images/swiper/hotel/triple-room/desktop/slider-3-desk@2x.jpg 2x,
                    ./images/swiper/hotel/triple-room/desktop/slider-3-desk@3x.jpg 3x
                  "
                />
                <source
                  media="(max-width: 1023px)"
                  srcset="
                    ./images/swiper/hotel/triple-room/mobile/slider-3-mob.jpg    1x,
                    ./images/swiper/hotel/triple-room/mobile/slider-3-mob@2x.jpg 2x,
                    ./images/swiper/hotel/triple-room/mobile/slider-3-mob@3x.jpg 3x
                  "
                />
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ./images/swiper/hotel/triple-room/tablet/slider-3-tab.jpg    1x,
                    ./images/swiper/hotel/triple-room/tablet/slider-3-tab@2x.jpg 2x,
                    ./images/swiper/hotel/triple-room/tablet/slider-3-tab@3x.jpg 3x
                  "
                  type="image/webp"
                />
                <img
                  class="swiper-slide__image swiper-slide__image--content"
                  src="./images/swiper/hotel/triple-room/desktop/slider-3-desk.jpg"
                  alt="Інтер'єр номеру із диваном, килимом на полу та зеленими подушками"
                />
              </picture>
            </li>
            <li class="swiper-slide">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/swiper/hotel/triple-room/desktop/slider-4-desk.webp    1x,
                    ./images/swiper/hotel/triple-room/desktop/slider-4-desk@2x.webp 2x,
                    ./images/swiper/hotel/triple-room/desktop/slider-4-desk@3x.webp 3x
                  "
                  type="image/webp"
                />
                <source
                  media="(max-width: 1023px)"
                  srcset="
                    ./images/swiper/hotel/triple-room/mobile/slider-4-mob.webp    1x,
                    ./images/swiper/hotel/triple-room/mobile/slider-4-mob@2x.webp 2x,
                    ./images/swiper/hotel/triple-room/mobile/slider-4-mob@3x.webp 3x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ./images/swiper/hotel/triple-room/tablet/slider-4-tab.webp    1x,
                    ./images/swiper/hotel/triple-room/tablet/slider-4-tab@2x.webp 2x,
                    ./images/swiper/hotel/triple-room/tablet/slider-4-tab@3x.webp 3x
                  "
                />
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/swiper/hotel/triple-room/desktop/slider-4-desk.jpg    1x,
                    ./images/swiper/hotel/triple-room/desktop/slider-4-desk@2x.jpg 2x,
                    ./images/swiper/hotel/triple-room/desktop/slider-4-desk@3x.jpg 3x
                  "
                />
                <source
                  media="(max-width: 1023px)"
                  srcset="
                    ./images/swiper/hotel/triple-room/mobile/slider-4-mob.jpg    1x,
                    ./images/swiper/hotel/triple-room/mobile/slider-4-mob@2x.jpg 2x,
                    ./images/swiper/hotel/triple-room/mobile/slider-4-mob@3x.jpg 3x
                  "
                />
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ./images/swiper/hotel/triple-room/tablet/slider-4-tab.jpg    1x,
                    ./images/swiper/hotel/triple-room/tablet/slider-4-tab@2x.jpg 2x,
                    ./images/swiper/hotel/triple-room/tablet/slider-4-tab@3x.jpg 3x
                  "
                  type="image/webp"
                />
                <img
                  class="swiper-slide__image swiper-slide__image--content"
                  src="./images/swiper/hotel/triple-room/desktop/slider-4-desk.jpg"
                  alt="Інтер'єр вбиральні з вмивальней та засобами для гоління"
                />
              </picture>
            </li>
          </ul>
        </div>
        <!-- Кнопки навігації по свайперу -->
        <div
          class="swiper-arrows swiper-arrows--rooms-right swiper-arrows--light"
        >
          <div class="swiper-button-prev swiper-button-prev--black">
            <svg width="32" height="32">
              <use href="./images/icons.svg#icon-arrow-left"></use>
            </svg>
          </div>
          <div class="swiper-button-next swiper-button-prev--black">
            <svg class="icon" width="32" height="32">
              <use href="./images/icons.svg#icon-arrow-right"></use>
            </svg>
          </div>
        </div>
      </div>
      <!-- Кнопки виклику модалок та переходу на сторінку номеру, який обран  -->
      <div class="hotel-buttonbox">
        <li class="hotel-buttonbox__item">
          <a
            class="activity-button activity-button--dark-rooms"
            href="./room.html"
          >
            Детальніше
          </a>
        </li>
        <li class="hotel-buttonbox__item">
          <button
            class="activity-button activity-button--dark-rooms popup-link"
            type="button"
            data-popup="popup21"
          >
            Переглянути ціни
          </button>
        </li>
      </div>
    </div>
  </div>
</section>
