<section class="section-hero room-hero" data-slider="hero">
  <!-- hero-swiper block -->
  <div class="swiper-hero">
    <div class="swiper-wrapper">
      <!-- The first slide double room -->
      <div class="swiper-slide slide-hero slide-hero--luxe">
        <div class="container">
          <div class="room-hero__decor"></div>
          <h1 class="room-hero__title _anim-elements _anim-nohide">
            Двомісний номер
            <span class="room-hero__title--transform">люкс</span>
          </h1>
          <div
            class="text text--main room-hero__descr _anim-elements _anim-nohide"
          >
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </div>
        </div>
      </div>
      <!-- The second slide triple room -->
      <div class="swiper-slide slide-hero slide-hero--triple">
        <div class="container">
          <div class="room-hero__decor"></div>
          <h1 class="room-hero__title _anim-elements _anim-nohide">
            Трьохмісний номер
          </h1>
          <div
            class="text text--main room-hero__descr room-hero__descr--accent _anim-elements _anim-nohide"
          >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
            odit veniam enim tempora maiores facere rem praesentium unde eius
            asperiores!
          </div>
        </div>
      </div>
      <!-- The third slide luxe room -->
      <div class="swiper-slide slide-hero slide-hero--double">
        <div class="container">
          <div class="room-hero__decor"></div>
          <h1 class="room-hero__title _anim-elements _anim-nohide">
            Двомісний номер
          </h1>
          <div
            class="text text--main room-hero__descr _anim-elements _anim-nohide"
          >
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet ad
            veritatis esse at, dolores voluptatem a odit mollitia quae? Quam
            voluptatum dicta.
          </div>
        </div>
      </div>
    </div>
    <!-- Slide navigation -->
    <ul class="swiper-hero__arrows">
      <li>
        <button class="swiper-hero-button-prev" type="button">
          <svg width="40" height="40">
            <use href="./images/icons.svg#icon-arrow-left"></use>
          </svg>
        </button>
      </li>
      <li>
        <button class="swiper-hero-button-next" type="button">
          <svg width="40" height="40">
            <use href="./images/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
  <!-- Location block -->
  <div class="location room-hero__location">
    <a
      class="location__link room-hero__link"
      rel="noreferrer nofollow noopener"
      target="_blank"
      href="https://www.google.com/maps/place/%D0%93%D0%BE%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D0%BE-%D1%80%D0%B5%D1%81%D1%82%D0%BE%D1%80%D0%B0%D0%BD%D0%BD%D0%B8%D0%B9+%D0%BA%D0%BE%D0%BC%D0%BF%D0%BB%D0%B5%D0%BA%D1%81+%22%D0%9C%D1%96%D0%BC%D1%96%D0%BD%D0%BE%22/@49.5992605,34.5259946,15z/data=!4m5!3m4!1s0x0:0xbb948724f7cf0b61!8m2!3d49.5993482!4d34.525994"
    >
      <svg class="location__point room-hero__point" width="20" height="20">
        <use href="./images/icons.svg#icon-location"></use>
      </svg>
      Україна, м. Полтава, <br />
      вул. Маршала Бірюзова, 15
    </a>
  </div>
  <!-- Socials block -->
  <ul class="socials room-hero__socials">
    <li class="socials__item room-hero__socials-item">
      <a class="socials__link" href="https://www.instagram.com/">
        <svg class="socials__icon" width="24" height="24">
          <use href="./images/icons.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li class="socials__item room-hero__socials-item">
      <a class="socials__link" href="https://www.facebook.com/">
        <svg class="socials__icon" width="24" height="24">
          <use href="./images/icons.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
    <li class="socials__item room-hero__socials-item">
      <a class="socials__link" href="https://web.telegram.org/">
        <svg class="socials__icon" width="24" height="24">
          <use href="./images/icons.svg#icon-telegram"></use>
        </svg>
      </a>
    </li>
  </ul>
  <!-- Кнопка виклику модалок -->
  <button
    class="activity-button activity-button--smaller popup-link room-hero__button"
    type="button"
    data-popup="popup2"
  >
    Переглянути ціни
  </button>
</section>
